.card-button {
  width: 100%;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.03);
  color: #fff;
  padding: 20px;
  cursor: pointer;
  border: none;
  cursor: pointer;
  display: block;
  text-align: start;
}

.card-button:hover {
  background: rgba(255, 255, 255, 0.1);
}