.journal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input,
textarea {
  color: #fff;
  outline: none;
}

.input-title {
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  border: none;
  background: none;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #323232;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 150px;
}

.form-row {
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  border: none;
  background: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #323232;
}

.invalid {
  border: 1px solid red !important;
  background: rgb(68, 6, 6) !important;
}

.delete {
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.delete:hover {
  background: #323232;
}